body {
  background-color: grey;
}

img {
  max-width: 25%;
  float: left;
}

p {
  border: solid black 2px;
  margin-top: .5%;
}

.drop {
  /*float: right;*/
  padding: .5em;
  border: 1em;
}

.text {
  display: block;
  height: 10%;
}

.hamburger {
  /*float: right;*/
  display: block;
  background:none;
  position:absolute;
  top: 0.2;
  right: 0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  z-index:10000000000000;
}

.info {
  list-style: none;
}
