.dropDown-toggle {
  /*display:none;*/
  position: relative;
  top: 100%;
  max-width: 20%;
  z-index: 100000;
  float: right;
  margin-right: 5%;
}

.dropDown-toggle:hover > .menu {
  display: block;
  z-index: 100000
}

img {
  max-width: 30%;
  padding: 2px;
}
